.DS_Store
.venv/
secrets/
.idea/
codecompasslib/__pycache__/
codecompasslib/API/__pycache__/
tests/__pycache__/
tests/.pytest_cache/
tests/functional/__pycache__/
tests/functional/.pytest_cache/
codecompasslib/models/__pycache__/
codecompasslib/PretrainedModels/
backend/__pycache__/
*.pyc
