.DS_Store
.venv/
secrets/
.idea/
codecompasslib/__pycache__/
codecompasslib/API/__pycache__/
codecompasslib/Tests/__pycache__/
codecompasslib/Tests/.pytest_cache/
codecompasslib/Tests/functional/__pycache__/
codecompasslib/Tests/functional/.pytest_cache/
codecompasslib/PretrainedModels/
backend/__pycache__/
*.pyc
